#projects header {
    background-image: url('https://i.ibb.co/QC9CvHF/project2.jpg');
    background-position: 0 33%;
}

#projects>.container, #news>.container, #events>.container {
    padding: 70px 0;
}

#projects .project {
    padding: 20px;
}

#projects .project .project-data-cont {
    background-size: cover;
    height: 300px;
    position: relative;
    border: 1px solid #aaa;
}

#projects .project:nth-of-type(1) .project-data-cont {
    background-image: url('https://i.ibb.co/gSsTcRL/project1.jpg');
}

#projects .project:nth-of-type(2) .project-data-cont {
    background-image: url('https://i.ibb.co/09vY1M0/project5.jpg');
}

#projects .project:nth-of-type(3) .project-data-cont {
    background-image: url('https://i.ibb.co/GCfyfPr/project3.jpg');
}

#projects .project:nth-of-type(4) .project-data-cont {
    background-image: url('https://i.ibb.co/qDST3db/project4.jpg');
}

#projects .project:nth-of-type(5) .project-data-cont {
    background-image: url('https://i.ibb.co/QC9CvHF/project2.jpg');
}

#projects .project:nth-of-type(6) .project-data-cont {
    background-image: url('https://i.ibb.co/gMwxkq3/project6.jpg');
}

#projects .project:nth-of-type(7) .project-data-cont {
    background-image: url('https://i.ibb.co/09vY1M0/project5.jpg');
}

#projects .project:nth-of-type(8) .project-data-cont {
    background-image: url('https://i.ibb.co/GCfyfPr/project3.jpg');
}

#projects .project:nth-of-type(9) .project-data-cont {
    background-image: url('https://i.ibb.co/gSsTcRL/project1.jpg');
}

#projects .project .project-data {
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: auto;
    padding: 10px 0 10px 20px;
    position: absolute;
    bottom: -1px;
    width: 100%;
}

#projects .project .project-data .project-date {
    color: #727272;
    font-size: 14px;
    margin: 0;
}

#projects .project .project-data .project-name {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    margin: 8px 0 0 0;
}

.pagination li a {
    border: 1px solid #1D376C !important;
    color: #1D376C !important;
    margin: 5px;
    border-radius: 0!important;
    font-weight: bold;
    padding: .2rem .6rem !important;
    transition: all 0.7s
}

.pagination li a:hover {
    background-color: #1D376C !important;
    color: #fff !important;
    transition: all 0.7s;
}

.pagination .active {
    background-color: #1D376C !important;
    color: #fff !important;
}

.pagination .disabled {
    display: none !important;
}

/* News */

#news .col-sm-4, #events .col-sm-4 {
    margin-bottom: 30px;
}

#news header {
    background-image: url('https://i.ibb.co/4m0Zf07/news-head.jpg');
    background-size: cover;
    background-position: 0 10%;
}

/* Events */

#events header {
    background-image: url('https://i.ibb.co/zZZsz4f/events-2.jpg');
    background-size: cover;
    background-position: 0 70%;
}