#home-solutions header, #customer-services header, #technician-training header, #request-certificate header {
    background-image: url('https://i.ibb.co/QC9CvHF/project2.jpg');
    background-position: 0 33%;
}

#home-solutions>.container, #customer-services>.container, #technician-training>.container {
    padding: 20px 0;
}

#home-solutions .text-content, #customer-services .text-content, #technician-training .text-content {
    color: #1D376C;
}

#home-solutions .text-content h4, #customer-services .text-content h4, #technician-training .text-content h4 {
    font-weight: bold;
    padding: 30px 0 15px 0;
}

#home-solutions .social-links, #customer-services .social-links, #technician-training .social-links {
    padding: 20px 0 50px;
}

#home-solutions .social-links ul, #customer-services .social-links ul, #technician-training .social-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#home-solutions .social-links ul li, #customer-services .social-links ul li, #technician-training .social-links ul li {
    display: inline-block;
    padding-right: 10px;
}

#home-solutions .social-links ul li a, #customer-services .social-links ul li a, #technician-training .social-links ul li a {
    display: inline-block;
    background-color: #1D376C;
    color: white;
    border-radius: 50%;
    font-size: 13px;
    width: 25px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
}

#request-certificate #about-us>.container {
    padding: 70px 0 100px;
}

#request-certificate .about-left p {
    width: 90%;
    font-size: 14px;
    color: #727272;
}

#request-certificate .contact-right {
    padding: 50px 30px 70px 30px;
}

#request-certificate .contact-data-cont h4 {
    margin-bottom: 10px;
}

#request-certificate .contact-data-cont p {
    color: #1D376C;
    font-size: 14px;
    margin: 0;
}